h2 {
    color: #fa8278;
    font-size: 18px;
	text-decoration: none;
}


.cargando{
    width: 10%;
    justify-content: center;   
    animation-name: cargando;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes cargando {
    from {
      transform: rotateX(100deg);
    }
  
    to {
      margin-right: 0%;
    }
  }