h2 {
    color: #fa8278;
    font-size: 18px;
	text-decoration: none;
}


.cargando{
    width: 8%;
    justify-content: center;   
    animation-name: cargando;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes cargando {
    from {
        transform: translateX(0px)
    }
  
    to {
        transform: translateX(1000px)
    }
  }