.cartItem{
    width: 100%;
    border-style: ridge;
    border-width:  5px; 
    padding: 1%;
    margin: 2%;
    border-color: #FF9A00;
    display: grid;
    grid-template-areas: " titulo  img  precio contador";
    grid-template-rows: 100%;
    grid-template-columns: 30% 30% 15% 25%;     
    align-items: center; 
    justify-items: center;              
    h2 {
        grid-area: titulo;
         justify-self: center;
        color: #fa8278;
    }
    img {
        grid-area: img;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
    }
    p {
        grid-area: precio;
        justify-self: center;
    }
    div{
        grid-area: contador;
        display: flex;
        flex-direction: row;
        justify-self: center;
        margin: 5%;
        button{
            background-color: #fa8278 ;
            border-radius: 5px;
            margin: 5%;
        }
        p{
            margin: 2%;
            padding: 20%;
        }
    }

 }

 @media (max-width: 780px) {
    .cartItem {
        grid-template-areas: "titulo titulo titulo "
                             "img  precio contador";
        grid-template-rows: 10% 90%;
        grid-template-columns: 45% 15% 40%;     
        align-items: center; 
        justify-items: center;  
        h2{
            margin-top: 5%;
        }
        img {
            grid-area: img;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 10px;
        }
        p {
            width: auto;
        }
        div{
            width: auto;
          
        }
    }
    
        
}