#contador {
    color: #41584B;
    display: flex;
	flex-direction: row;
	align-items: bottom;

	button {
        border-color: #fccca9;
	    background-color: #fcd7ac;
	    border-radius: 8px;
        margin-left: 10%;
        margin-right: 5%;
    }
    p{
        margin: 1%;
    }
}
