.detalle{
    display: grid;
    width: 100%;
    height: 300px;
    grid-template-areas: " img   titulo"
                         " img   precio"
                         " img   contador"
                         " boton contador";
    grid-template-rows: 30% 30% 30% 10%;
    grid-template-columns: 60% 30%;     
    align-items: center; 
    justify-items: center;              

    img {
        grid-area: img;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
    }
    h2 {
        grid-area: titulo;
        justify-self: center;
        font-weight: bold;
        color: #fa8278;
        padding-left: 5%;
    }
    p {
        grid-area: precio;
        justify-self: center;
        font-weight: bold;
        color:#41584B;
        padding-left: 5%;
    }
}

.contador {
    grid-area: contador;
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.boton {
    grid-area: boton;
    button{
        border-color: #fccca9;
        background-color: #fcd7ac;
        border-radius: 8px;
        width: 100%;
        margin-left: 10%;
        margin-right: 5%;
        margin-bottom: 10%;
        color:#41584B;
        font-weight: bold;
    }
    
}

@media (max-width: 780px) {
    .detalle {
      display: grid;
      width: 100%;
      grid-template-areas: "titulo"
                            "img"
                            "precio"
                            "contador"
                            "boton";
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto auto;
      justify-items: center;
    }
    .contador{
        justify-self: center;
    }
    h2{
        padding: 0px;
    }
       
}

.detalle img:hover{
    transform: scale(1.3); 
}